@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
	--primary-red: hsl(0, 100%, 74%);
	--primary-green: hsl(154, 59%, 51%);
	--accent-blue: hsl(248, 32%, 49%);
	--neutral-dark-blue: hsl(249, 10%, 26%);
	--neutral-grayish-blue: hsl(246, 25%, 77%);
}

*{
	margin: 0;
	padding: 0;
	font-family: Poppins, serif;
}

body{
	font-size: 16px;
	color: #f8ffff;
}

.site-wrapper{
	background-color: var(--primary-red);
	background-image: url('task-73-images/bg-intro-mobile.png');
	height: 100vh;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
}

main{
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
}

.caption{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.offer{
	background-color: var(--accent-blue);
	text-align: center;
	margin-bottom: 1.3rem;
}

form{
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	background-color: #fbfbfb;
}

.offer, form, button{
	border-radius: 4px;
	padding: 1rem;
	box-shadow: 1px 4px rgba(70, 70, 70, 0.3);
}

input {
	padding: 0.4rem;
	margin-bottom: 1rem;
	border-radius: 4px;
	border: 1px solid darkgrey;
}

input[placeholder]{
	color: #121212;
	font-weight: bold;
}

button{
	background-color: var(--primary-green);
	border: unset;
	color: #f8ffff;
	text-transform: uppercase;
	font-weight: 600;
}

button + p{
	color: rgb(155, 155, 155);
	font-size: 0.7rem;
	text-align: center;
	margin-top: 0.4rem;
}

@media screen and (min-width: 767px){
	.site-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url('task-73-images/bg-intro-desktop.png');
	}

	main{
		flex-direction: row;
		justify-content: space-between;
		max-width: 960px;
	}

	.caption{
		width: 50%;
	}

	.lead-capture{
		width: 47%;
	}
}